[Unit]
Description=armada upgrade migrations
DefaultDependencies=no
After=local-fs.target systemd-tmpfiles-setup.service
Before=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/libexec/armada/upgrade-migrations
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
