[Desktop Entry]
Type=Application
Name=Steam
Exec=/usr/libexec/armada/launch-steam --desktop
Icon=steam
Terminal=false
Categories=Game;
StartupWMClass=steam
